* {
    font-family: 'Oswald', 'sans-serif';
}

.general {
    margin: 50px auto;
    border: 5px brown solid;
    height: 600px;
    width: 450px;
    overflow: hidden;
}
.general .slide {
    position: relative;
    width: 450px;
    margin: 0 auto;
    font-family: sans-serif;
}
.slide .slide-single {
    width: 450px;
    left: 0;
    top: 0;
    position: absolute;
    transition: all ease 1s;
}